<h1>Clients</h1>

<table>
  <tr>
    <th>Client Name</th>
    <th>Hourly Rate</th>
    <th>SLA</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.ClientName %></td>
    <td><%= client.HourlyCost %></td>
    <td><%= client.SLA %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Client', new_client_path %>
