<p id="notice"><%= notice %></p>

<p>
  <b>Clientname:</b>
  <%= @client.ClientName %>
</p>

<p>
  <b>Hourlycost:</b>
  <%= @client.HourlyCost %>
</p>

<p>
  <b>Sla:</b>
  <%= @client.SLA %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
